# PANDAS

In [5]:
#we are importing the pandas library
import pandas as pd

In [9]:
#checking of the version
print(pd.__version__)

2.2.2

# series

In [11]:
#creating a column
x=[1,2,3,4,5,6]
s=pd.Series(x)
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [13]:
#creaing a column with index
x=[1,2,3,4,5,6]
s=pd.Series(x,index=['a','b','c','d','e','f'])
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [19]:
x={'name':'manohar','age':21,'sex':'M'}
s=pd.Series(x)
s

name    manohar
age          21
sex           M
dtype: object

# DataFrame

In [21]:
#dataframe is a 2 dimensional array containg rows and columns
x={'names':['manu','sai','lakshmi','mahi'],'age':[21,22,43,20]}
s=pd.DataFrame(x)
s

     names  age
0     manu   21
1      sai   22
2  lakshmi   43
3     mahi   20

In [23]:
x={'names':['manu','sai','lakshmi','mahi'],'age':[21,22,43,20]}
s=pd.DataFrame(x,index=['o','two','three','four'])
s

         names  age
o         manu   21
two        sai   22
three  lakshmi   43
four      mahi   20

In [27]:
s.iloc[0]

names    manu
age        21
Name: o, dtype: object

In [33]:
s.iloc[0:2]

    names  age
o    manu   21
two   sai   22

In [39]:
#reading an external file 
df=pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [41]:
df.loc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [43]:
df.to_string()

'      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species\n0      1            5.1           3.5            1.4           0.2      Iris-setosa\n1      2            4.9           3.0            1.4           0.2      Iris-setosa\n2      3            4.7           3.2            1.3           0.2      Iris-setosa\n3      4            4.6           3.1            1.5           0.2      Iris-setosa\n4      5            5.0           3.6            1.4           0.2      Iris-setosa\n5      6            5.4           3.9            1.7           0.4      Iris-setosa\n6      7            4.6           3.4            1.4           0.3      Iris-setosa\n7      8            5.0           3.4            1.5           0.2      Iris-setosa\n8      9            4.4           2.9            1.4           0.2      Iris-setosa\n9     10            4.9           3.1            1.5           0.1      Iris-setosa\n10    11            5.4           3.7            1.5           0.2      Iris-setosa\n11    12            4.8           3.4            1.6           0.2      Iris-setosa\n12    13            4.8           3.0            1.4           0.1      Iris-setosa\n13    14            4.3           3.0            1.1           0.1      Iris-setosa\n14    15            5.8           4.0            1.2           0.2      Iris-setosa\n15    16            5.7           4.4            1.5           0.4      Iris-setosa\n16    17            5.4           3.9            1.3           0.4      Iris-setosa\n17    18            5.1           3.5            1.4           0.3      Iris-setosa\n18    19            5.7           3.8            1.7           0.3      Iris-setosa\n19    20            5.1           3.8            1.5           0.3      Iris-setosa\n20    21            5.4           3.4            1.7           0.2      Iris-setosa\n21    22            5.1           3.7            1.5           0.4      Iris-setosa\n22    23            4.6           3.6            1.0           0.2      Iris-setosa\n23    24            5.1           3.3            1.7           0.5      Iris-setosa\n24    25            4.8           3.4            1.9           0.2      Iris-setosa\n25    26            5.0           3.0            1.6           0.2      Iris-setosa\n26    27            5.0           3.4            1.6           0.4      Iris-setosa\n27    28            5.2           3.5            1.5           0.2      Iris-setosa\n28    29            5.2           3.4            1.4           0.2      Iris-setosa\n29    30            4.7           3.2            1.6           0.2      Iris-setosa\n30    31            4.8           3.1            1.6           0.2      Iris-setosa\n31    32            5.4           3.4            1.5           0.4      Iris-setosa\n32    33            5.2           4.1            1.5           0.1      Iris-setosa\n33    34            5.5           4.2            1.4           0.2      Iris-setosa\n34    35            4.9           3.1            1.5           0.1      Iris-setosa\n35    36            5.0           3.2            1.2           0.2      Iris-setosa\n36    37            5.5           3.5            1.3           0.2      Iris-setosa\n37    38            4.9           3.1            1.5           0.1      Iris-setosa\n38    39            4.4           3.0            1.3           0.2      Iris-setosa\n39    40            5.1           3.4            1.5           0.2      Iris-setosa\n40    41            5.0           3.5            1.3           0.3      Iris-setosa\n41    42            4.5           2.3            1.3           0.3      Iris-setosa\n42    43            4.4           3.2            1.3           0.2      Iris-setosa\n43    44            5.0           3.5            1.6           0.6      Iris-setosa\n44    45            5.1           3.8            1.9           0.4      Iris-setosa\n45    46            4.8           3.0            1.4           0.3      Iris-setosa\n46    47            5.1           3.8            1.6           0.2      Iris-setosa\n47    48            4.6           3.2            1.4           0.2      Iris-setosa\n48    49            5.3           3.7            1.5           0.2      Iris-setosa\n49    50            5.0           3.3            1.4           0.2      Iris-setosa\n50    51            7.0           3.2            4.7           1.4  Iris-versicolor\n51    52            6.4           3.2            4.5           1.5  Iris-versicolor\n52    53            6.9           3.1            4.9           1.5  Iris-versicolor\n53    54            5.5           2.3            4.0           1.3  Iris-versicolor\n54    55            6.5           2.8            4.6           1.5  Iris-versicolor\n55    56            5.7           2.8            4.5           1.3  Iris-versicolor\n56    57            6.3           3.3            4.7           1.6  Iris-versicolor\n57    58            4.9           2.4            3.3           1.0  Iris-versicolor\n58    59            6.6           2.9            4.6           1.3  Iris-versicolor\n59    60            5.2           2.7            3.9           1.4  Iris-versicolor\n60    61            5.0           2.0            3.5           1.0  Iris-versicolor\n61    62            5.9           3.0            4.2           1.5  Iris-versicolor\n62    63            6.0           2.2            4.0           1.0  Iris-versicolor\n63    64            6.1           2.9            4.7           1.4  Iris-versicolor\n64    65            5.6           2.9            3.6           1.3  Iris-versicolor\n65    66            6.7           3.1            4.4           1.4  Iris-versicolor\n66    67            5.6           3.0            4.5           1.5  Iris-versicolor\n67    68            5.8           2.7            4.1           1.0  Iris-versicolor\n68    69            6.2           2.2            4.5           1.5  Iris-versicolor\n69    70            5.6           2.5            3.9           1.1  Iris-versicolor\n70    71            5.9           3.2            4.8           1.8  Iris-versicolor\n71    72            6.1           2.8            4.0           1.3  Iris-versicolor\n72    73            6.3           2.5            4.9           1.5  Iris-versicolor\n73    74            6.1           2.8            4.7           1.2  Iris-versicolor\n74    75            6.4           2.9            4.3           1.3  Iris-versicolor\n75    76            6.6           3.0            4.4           1.4  Iris-versicolor\n76    77            6.8           2.8            4.8           1.4  Iris-versicolor\n77    78            6.7           3.0            5.0           1.7  Iris-versicolor\n78    79            6.0           2.9            4.5           1.5  Iris-versicolor\n79    80            5.7           2.6            3.5           1.0  Iris-versicolor\n80    81            5.5           2.4            3.8           1.1  Iris-versicolor\n81    82            5.5           2.4            3.7           1.0  Iris-versicolor\n82    83            5.8           2.7            3.9           1.2  Iris-versicolor\n83    84            6.0           2.7            5.1           1.6  Iris-versicolor\n84    85            5.4           3.0            4.5           1.5  Iris-versicolor\n85    86            6.0           3.4            4.5           1.6  Iris-versicolor\n86    87            6.7           3.1            4.7           1.5  Iris-versicolor\n87    88            6.3           2.3            4.4           1.3  Iris-versicolor\n88    89            5.6           3.0            4.1           1.3  Iris-versicolor\n89    90            5.5           2.5            4.0           1.3  Iris-versicolor\n90    91            5.5           2.6            4.4           1.2  Iris-versicolor\n91    92            6.1           3.0            4.6           1.4  Iris-versicolor\n92    93            5.8           2.6            4.0           1.2  Iris-versicolor\n93    94            5.0           2.3            3.3           1.0  Iris-versicolor\n94    95            5.6           2.7            4.2           1.3  Iris-versicolor\n95    96            5.7           3.0            4.2           1.2  Iris-versicolor\n96    97            5.7           2.9            4.2           1.3  Iris-versicolor\n97    98            6.2           2.9            4.3           1.3  Iris-versicolor\n98    99            5.1           2.5            3.0           1.1  Iris-versicolor\n99   100            5.7           2.8            4.1           1.3  Iris-versicolor\n100  101            6.3           3.3            6.0           2.5   Iris-virginica\n101  102            5.8           2.7            5.1           1.9   Iris-virginica\n102  103            7.1           3.0            5.9           2.1   Iris-virginica\n103  104            6.3           2.9            5.6           1.8   Iris-virginica\n104  105            6.5           3.0            5.8           2.2   Iris-virginica\n105  106            7.6           3.0            6.6           2.1   Iris-virginica\n106  107            4.9           2.5            4.5           1.7   Iris-virginica\n107  108            7.3           2.9            6.3           1.8   Iris-virginica\n108  109            6.7           2.5            5.8           1.8   Iris-virginica\n109  110            7.2           3.6            6.1           2.5   Iris-virginica\n110  111            6.5           3.2            5.1           2.0   Iris-virginica\n111  112            6.4           2.7            5.3           1.9   Iris-virginica\n112  113            6.8           3.0            5.5           2.1   Iris-virginica\n113  114            5.7           2.5            5.0           2.0   Iris-virginica\n114  115            5.8           2.8            5.1           2.4   Iris-virginica\n115  116            6.4           3.2            5.3           2.3   Iris-virginica\n116  117            6.5           3.0            5.5           1.8   Iris-virginica\n117  118            7.7           3.8            6.7           2.2   Iris-virginica\n118  119            7.7           2.6            6.9           2.3   Iris-virginica\n119  120            6.0           2.2            5.0           1.5   Iris-virginica\n120  121            6.9           3.2            5.7           2.3   Iris-virginica\n121  122            5.6           2.8            4.9           2.0   Iris-virginica\n122  123            7.7           2.8            6.7           2.0   Iris-virginica\n123  124            6.3           2.7            4.9           1.8   Iris-virginica\n124  125            6.7           3.3            5.7           2.1   Iris-virginica\n125  126            7.2           3.2            6.0           1.8   Iris-virginica\n126  127            6.2           2.8            4.8           1.8   Iris-virginica\n127  128            6.1           3.0            4.9           1.8   Iris-virginica\n128  129            6.4           2.8            5.6           2.1   Iris-virginica\n129  130            7.2           3.0            5.8           1.6   Iris-virginica\n130  131            7.4           2.8            6.1           1.9   Iris-virginica\n131  132            7.9           3.8            6.4           2.0   Iris-virginica\n132  133            6.4           2.8            5.6           2.2   Iris-virginica\n133  134            6.3           2.8            5.1           1.5   Iris-virginica\n134  135            6.1           2.6            5.6           1.4   Iris-virginica\n135  136            7.7           3.0            6.1           2.3   Iris-virginica\n136  137            6.3           3.4            5.6           2.4   Iris-virginica\n137  138            6.4           3.1            5.5           1.8   Iris-virginica\n138  139            6.0           3.0            4.8           1.8   Iris-virginica\n139  140            6.9           3.1            5.4           2.1   Iris-virginica\n140  141            6.7           3.1            5.6           2.4   Iris-virginica\n141  142            6.9           3.1            5.1           2.3   Iris-virginica\n142  143            5.8           2.7            5.1           1.9   Iris-virginica\n143  144            6.8           3.2            5.9           2.3   Iris-virginica\n144  145            6.7           3.3            5.7           2.5   Iris-virginica\n145  146            6.7           3.0            5.2           2.3   Iris-virginica\n146  147            6.3           2.5            5.0           1.9   Iris-virginica\n147  148            6.5           3.0            5.2           2.0   Iris-virginica\n148  149            6.2           3.4            5.4           2.3   Iris-virginica\n149  150            5.9           3.0            5.1           1.8   Iris-virginica'

In [45]:
#return first 5 rows
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [49]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [55]:
#for int and float
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [61]:
#description for object
df.describe(include='object')

            Species
count           150
unique            3
top     Iris-setosa
freq             50

In [63]:
num=df.select_dtypes(include=['int64','float64'])
num.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [65]:
cat=df.select_dtypes(include=['object'])
cat.columns

Index(['Species'], dtype='object')

In [77]:
cat['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [79]:
cat['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [83]:
#location -loc[]
#index-iloc[]
df.loc[:,['SepalLengthCm','Id']]

     SepalLengthCm   Id
0              5.1    1
1              4.9    2
2              4.7    3
3              4.6    4
4              5.0    5
..             ...  ...
145            6.7  146
146            6.3  147
147            6.5  148
148            6.2  149
149            5.9  150

[150 rows x 2 columns]

In [87]:
df.loc[0,]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [103]:
df.iloc[:,[1,2,3,4]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [109]:
df.iloc[0,:]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [113]:
df.loc[df['Species']=='Iris-setosa']

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [121]:
df.duplicated().sum()

0

In [125]:
df.drop_duplicates(inplace=True)

In [129]:
num.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000